# Binance API Keys
# Generate at: https://www.binance.com/en/my/settings/api-management
# For testnet: https://testnet.binance.vision/
BINANCE_API_KEY=MhRWqqjvOJL4Gqt2G0PTFwF3NagGi2m3Qfaaa7MVZn11kDGlBX5ha9dGL1U0jGz9
BINANCE_API_SECRET=Mg1Dij3MNrnvGzwXh46cO0zMyz7GzfjRnHBeZq3au3SiPm2x0eCEe5nMIazB7kgY

# Use testnet (ALWAYS start with True)
BINANCE_TESTNET=True

# Trading Configuration
TRADING_SYMBOL=BTC/USDT
